@use "variables/colors";
@use "components/card";
@use "components/summary";

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    .container {
        width: 100%;
        height: 100%;
        @media (min-width: 990px) {
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;
        padding: 10% 20% 5%;
        div:nth-child(1) {
            border-radius: 10px 0 0 10px;
            @include card.card(colors.$orange-first, colors.$orange-first);
        }
        div:nth-child(2) {
            @include card.card(colors.$blue-first, colors.$blue-first);
        }

        div:nth-child(3) {
            border-radius: 0 10px 10px 0;
            @include card.card(colors.$blue-second, colors.$blue-second);
        }
    }
    .order-summary {
        @include summary.summary;
    }
}
