@use "../variables/colors";
@use "../variables/fonts";
@use "../partials/payment";
@use "../partials/plan";

@mixin summary {
    width: 450px;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    color: colors.$dark-blue;
    font-family: fonts.$red-hat;
    > div:nth-child(2) {
        padding: 30px 40px;
        background-color: colors.$very-pale-blue;
        > div {
            @include plan.plan;
        }
    }
    .dark {
        @include payment.buttonPayment(
            colors.$very-pale-blue,
            colors.$bright-blue
        );
    }
    .bright {
        @include payment.buttonPayment(colors.$desaturated-blue, transparent);
    }
}
