$orange-first: hsl(31, 77%, 52%);
$blue-first: hsl(184, 100%, 22%);
$blue-second: hsl(179, 100%, 13%);

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
