$orange-first: hsl(31, 77%, 52%);
$blue-first: hsl(184, 100%, 22%);
$blue-second: hsl(179, 100%, 13%);

$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);
$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);
