@use "../variables/colors";

@mixin button($color) {
    button {
        width: 60%;
        height: 50px;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.75px;
        border: 0;
        border-radius: 25px;
        background-color: white;
        color: $color;
        cursor: pointer;
    }
}
