@use "../variables/colors";

@mixin buttonPayment($color, $background-color) {
    text-decoration: none;
    color: $color;
    background-color: $background-color;
    border: 0;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
}
